In [30]:
import numpy as np
import pandas as pd
import seaborn as sns

In [31]:
data_fifa = pd.read_csv('data/fifa_players.csv')

In [32]:
data_fifa.head()

,name,full_name,birth_date,age,height_cm,weight_kgs,positions,nationality,overall_rating,potential,...,long_shots,aggression,interceptions,positioning,vision,penalties,composure,marking,standing_tackle,sliding_tackle
0,L. Messi,Lionel Andrés Messi Cuccittini,6/24/1987,31,170.18,72.1,"CF,RW,ST",Argentina,94,94,...,94,48,22,94,94,75,96,33,28,26
1,C. Eriksen,Christian Dannemann Eriksen,2/14/1992,27,154.94,76.2,"CAM,RM,CM",Denmark,88,89,...,89,46,56,84,91,67,88,59,57,22
2,P. Pogba,Paul Pogba,3/15/1993,25,190.50,83.9,"CM,CAM",France,88,91,...,82,78,64,82,88,82,87,63,67,67
3,L. Insigne,Lorenzo Insigne,6/4/1991,27,162.56,59.0,"LW,ST",Italy,88,88,...,84,34,26,83,87,61,83,51,24,22
4,K. Koulibaly,Kalidou Koulibaly,6/20/1991,27,187.96,88.9,CB,Senegal,88,91,...,15,87,88,24,49,33,80,91,88,87

In [78]:

data_fifa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17954 entries, 0 to 17953
Data columns (total 51 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   name                           17954 non-null  object
 1   full_name                      17954 non-null  object
 2   birth_date                     17954 non-null  object
 3   age                            17954 non-null  int64
 4   height_cm                      17954 non-null  float64
 5   weight_kgs                     17954 non-null  float64
 6   positions                      17954 non-null  object
 7   nationality                    17954 non-null  object
 8   overall_rating                 17954 non-null  int64
 9   potential                      17954 non-null  int64
 10  value_euro                     17699 non-null  float64
 11  wage_euro                      17708 non-null  float64
 12  preferred_foot                 17954 non-null  object
 13  international_reputation(1-5)  17954 non-null  int64
 14  weak_foot(1-5)                 17954 non-null  int64
 15  skill_moves(1-5)               17954 non-null  int64
 16  body_type                      17954 non-null  object
 17  release_clause_euro            16117 non-null  float64
 18  national_team                  857 non-null    object
 19  national_rating                857 non-null    float64
 20  national_team_position         857 non-null    object
 21  national_jersey_number         857 non-null    float64
 22  crossing                       17954 non-null  int64
 23  finishing                      17954 non-null  int64
 24  heading_accuracy               17954 non-null  int64
 25  short_passing                  17954 non-null  int64
 26  volleys                        17954 non-null  int64
 27  dribbling                      17954 non-null  int64
 28  curve                          17954 non-null  int64
 29  freekick_accuracy              17954 non-null  int64
 30  long_passing                   17954 non-null  int64
 31  ball_control                   17954 non-null  int64
 32  acceleration                   17954 non-null  int64
 33  sprint_speed                   17954 non-null  int64
 34  agility                        17954 non-null  int64
 35  reactions                      17954 non-null  int64
 36  balance                        17954 non-null  int64
 37  shot_power                     17954 non-null  int64
 38  jumping                        17954 non-null  int64
 39  stamina                        17954 non-null  int64
 40  strength                       17954 non-null  int64
 41  long_shots                     17954 non-null  int64
 42  aggression                     17954 non-null  int64
 43  interceptions                  17954 non-null  int64
 44  positioning                    17954 non-null  int64
 45  vision                         17954 non-null  int64
 46  penalties                      17954 non-null  int64
 47  composure                      17954 non-null  int64
 48  marking                        17954 non-null  int64
 49  standing_tackle                17954 non-null  int64
 50  sliding_tackle                 17954 non-null  int64
dtypes: float64(7), int64(35), object(9)
memory usage: 7.0+ MB

In [79]:
data_fifa['age'].value_counts()

age
22    1360
21    1347
27    1318
23    1315
25    1304
24    1303
26    1248
20    1145
28    1118
29     979
19     957
30     893
31     845
32     628
18     509
33     465
35     354
34     322
36     165
17     163
37      99
38      56
39      31
40      15
41      10
42       2
46       1
45       1
44       1
Name: count, dtype: int64

In [117]:
data_nova = data_fifa.filter(items = ['name', 'age', 'positions', 'overall_rating', 'value_euro', 'penalties', 'crossing', 'finishing','dribbling','ball_control'])
data_nova

,name,age,positions,overall_rating,value_euro,penalties,crossing,finishing,dribbling,ball_control
0,L. Messi,31,"CF,RW,ST",94,110500000.0,75,86,95,97,96
1,C. Eriksen,27,"CAM,RM,CM",88,69500000.0,67,88,81,84,91
2,P. Pogba,25,"CM,CAM",88,73000000.0,82,80,75,87,90
3,L. Insigne,27,"LW,ST",88,62000000.0,61,86,77,90,93
4,K. Koulibaly,27,CB,88,60000000.0,33,30,22,69,63
...,...,...,...,...,...,...,...,...,...,...
17949,R. McKenzie,25,"RM,CAM,CM",67,975000.0,63,57,61,64,66
17950,M. Sipľak,23,LB,59,190000.0,32,50,19,52,53
17951,J. Bekkema,22,GK,59,170000.0,16,11,9,12,18
17952,A. Al Yami,21,"ST,LM",59,280000.0,50,42,60,57,56
17953,Júnior Brumado,19,ST,59,325000.0,52,32,58,58,56

In [118]:
data_nova.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17954 entries, 0 to 17953
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            17954 non-null  object
 1   age             17954 non-null  int64
 2   positions       17954 non-null  object
 3   overall_rating  17954 non-null  int64
 4   value_euro      17699 non-null  float64
 5   penalties       17954 non-null  int64
 6   crossing        17954 non-null  int64
 7   finishing       17954 non-null  int64
 8   dribbling       17954 non-null  int64
 9   ball_control    17954 non-null  int64
dtypes: float64(1), int64(7), object(2)
memory usage: 1.4+ MB

In [119]:
data_nova['value_euro'].fillna(data_nova['value_euro'].median())

0        110500000.0
1         69500000.0
2         73000000.0
3         62000000.0
4         60000000.0
            ...
17949       975000.0
17950       190000.0
17951       170000.0
17952       280000.0
17953       325000.0
Name: value_euro, Length: 17954, dtype: float64

In [120]:
data_nova.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17954 entries, 0 to 17953
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            17954 non-null  object
 1   age             17954 non-null  int64
 2   positions       17954 non-null  object
 3   overall_rating  17954 non-null  int64
 4   value_euro      17699 non-null  float64
 5   penalties       17954 non-null  int64
 6   crossing        17954 non-null  int64
 7   finishing       17954 non-null  int64
 8   dribbling       17954 non-null  int64
 9   ball_control    17954 non-null  int64
dtypes: float64(1), int64(7), object(2)
memory usage: 1.4+ MB

In [121]:
data_nova['value_euro'].value_counts()

value_euro
1100000.0      401
425000.0       365
375000.0       340
1200000.0      327
450000.0       324
              ...
78500000.0       1
78000000.0       1
81000000.0       1
73000000.0       1
108000000.0      1
Name: count, Length: 211, dtype: int64

In [122]:
data_nova['value_euro'] = data_nova['value_euro'].fillna(data_nova['value_euro'].median())

In [123]:
data_nova.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17954 entries, 0 to 17953
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            17954 non-null  object
 1   age             17954 non-null  int64
 2   positions       17954 non-null  object
 3   overall_rating  17954 non-null  int64
 4   value_euro      17954 non-null  float64
 5   penalties       17954 non-null  int64
 6   crossing        17954 non-null  int64
 7   finishing       17954 non-null  int64
 8   dribbling       17954 non-null  int64
 9   ball_control    17954 non-null  int64
dtypes: float64(1), int64(7), object(2)
memory usage: 1.4+ MB

In [124]:
data_nova['age'].value_counts()

age
22    1360
21    1347
27    1318
23    1315
25    1304
24    1303
26    1248
20    1145
28    1118
29     979
19     957
30     893
31     845
32     628
18     509
33     465
35     354
34     322
36     165
17     163
37      99
38      56
39      31
40      15
41      10
42       2
46       1
45       1
44       1
Name: count, dtype: int64

In [125]:
# IQR Distancia Inter Quartil

q1 = data_nova['age'].quantile(0.25)
q3 = data_nova['age'].quantile(0.75)

IQR = q3 - q1

print(f'IQR = {IQR}')

IQR = 7.0

In [126]:
idade_outliers = data_nova[(data_nova['age'] < q1 - (IQR * 1.5)) | (data_nova['age'] > q3 + (IQR * 1.5))]

In [127]:
idade_outliers

,name,age,positions,overall_rating,value_euro,penalties,crossing,finishing,dribbling,ball_control
250,Hilton,41,CB,78,700000.0,64,60,45,63,73
774,S. Bertoli,41,GK,73,270000.0,72,12,19,14,20
968,S. Nakamura,40,"CAM,CF,RW,RM",72,700000.0,83,80,63,70,76
996,T. Howard,40,GK,72,210000.0,33,16,13,13,29
1129,C. Lucchetti,40,GK,71,160000.0,54,23,13,24,35
1304,O. Pérez,46,GK,71,160000.0,23,19,14,12,23
1553,A. Bastía,40,"CDM,CM",70,120000.0,76,61,54,73,67
1784,F. Cubero,40,"CB,RB",69,70000.0,56,66,42,56,66
2328,José Juan,40,GK,67,50000.0,15,20,11,21,25
4276,K. Ellison,40,"LM,ST",58,30000.0,60,59,60,65,61
4865,K. Pilkington,45,GK,48,700000.0,22,11,12,11,16
5141,Zhou Ting,40,CM,52,10000.0,49,45,53,62,63
5201,S. Phillips,40,GK,52,700000.0,13,13,15,15,22
5226,T. Warner,44,GK,53,700000.0,17,19,13,14,27
5813,A. Al Basisi,41,GK,56,10000.0,28,16,19,13,20
6320,P. van der Vlag,41,GK,58,10000.0,11,12,11,15,26
6920,M. Tyler,41,GK,59,10000.0,7,19,8,17,23
7260,D. Bulman,40,"CM,CDM",60,50000.0,38,45,33,55,65
8972,D. Konstantopoulos,40,GK,63,20000.0,18,10,10,10,23
9950,H. Sulaimani,42,LB,64,700000.0,60,71,43,63,64
10401,M. Caranta,40,GK,65,40000.0,23,12,12,10,14
10495,F. Kippe,41,CB,65,700000.0,62,33,46,24,49
12717,C. Muñoz,41,GK,68,60000.0,24,25,15,22,31
13635,B. Nivet,42,"CAM,CM",69,700000.0,76,67,67,62,72
14290,R. Braña,40,"CDM,CM",70,120000.0,50,61,49,71,70
16351,C. Pizarro,40,ST,74,1600000.0,81,62,78,76,78
16390,A. Bizzarri,41,GK,74,375000.0,20,11,17,18,23
16896,P. Guiñazú,40,"CDM,CM",76,525000.0,55,63,48,63,70
17153,J. Villar,41,GK,77,700000.0,21,14,12,21,24
17919,G. Buffon,41,GK,88,4000000.0,22,13,15,26,28

In [128]:
idade_inliers = data_nova[(data_nova['age'] >= q1 - (IQR * 1.5)) & (data_nova['age'] <= q3 + (IQR * 1.5))]

In [129]:
idade_inliers

,name,age,positions,overall_rating,value_euro,penalties,crossing,finishing,dribbling,ball_control
0,L. Messi,31,"CF,RW,ST",94,110500000.0,75,86,95,97,96
1,C. Eriksen,27,"CAM,RM,CM",88,69500000.0,67,88,81,84,91
2,P. Pogba,25,"CM,CAM",88,73000000.0,82,80,75,87,90
3,L. Insigne,27,"LW,ST",88,62000000.0,61,86,77,90,93
4,K. Koulibaly,27,CB,88,60000000.0,33,30,22,69,63
...,...,...,...,...,...,...,...,...,...,...
17949,R. McKenzie,25,"RM,CAM,CM",67,975000.0,63,57,61,64,66
17950,M. Sipľak,23,LB,59,190000.0,32,50,19,52,53
17951,J. Bekkema,22,GK,59,170000.0,16,11,9,12,18
17952,A. Al Yami,21,"ST,LM",59,280000.0,50,42,60,57,56
17953,Júnior Brumado,19,ST,59,325000.0,52,32,58,58,56

In [130]:
idade_inliers.describe()

,age,overall_rating,value_euro,penalties,crossing,finishing,dribbling,ball_control
count,17924.000000,17924.000000,1.792400e+04,17924.000000,17924.000000,17924.000000,17924.000000,17924.000000
mean,25.539667,66.239902,2.457324e+06,48.369449,49.722941,45.383397,55.311314,58.249777
std,4.666832,6.959894,5.654467e+06,15.792045,18.463824,19.629071,19.065638,16.853443
min,17.000000,47.000000,1.000000e+04,5.000000,5.000000,2.000000,4.000000,5.000000
25%,22.000000,62.000000,3.250000e+05,38.750000,38.000000,30.000000,49.000000,54.000000
50%,25.000000,66.000000,7.000000e+05,49.000000,54.000000,49.000000,61.000000,63.000000
75%,29.000000,71.000000,2.100000e+06,60.000000,64.000000,62.000000,68.000000,69.000000
max,39.000000,94.000000,1.105000e+08,92.000000,93.000000,95.000000,97.000000,96.000000

In [110]:
idade_inliers_test = idade_inliers.head(10)